11. Neste problema, você desenvolverá um modelo para prever se determinado carro recebe alta ou baixa quilometragem 
com base no conjunto de dados - Auto -.

(a) Crie uma variável binária, mpg01, que contenha um 1 se o mpg contiver um valor acima da sua mediana e um 0 se 
o mpg contiver um valor abaixo sua mediana. Você pode calcular a mediana usando a median()função.
Observe que você pode achar útil usar o data.frame() função para criar um único conjunto de dados contendo - mpg01 -
e as outras variáveis - Auto -.

(b) Explore os dados graficamente para investigar a associação entre o mpg01 e os outros recursos. Qual dos outros
recursos parecem mais úteis para prever o mpg01? Gráficos de dispersão e boxplots podem ser ferramentas úteis para 
responder a essa pergunta. Descreva suas descobertas.

(c) Divida os dados em um conjunto de treinamento e um conjunto de testes.

(d) Execute o LDA nos dados de treinamento para prever mpg01 usando as variáveis que pareciam mais associadas ao 
mpg01 em:
    b). Qual é o erro de teste do modelo obtido?
(e) Realizar QDA nos dados de treinamento para prever mpg01
usando as variáveis que pareciam mais associadas ao mpg01 em:
    b). Qual é o erro de teste do modelo obtido?
    
(f) Realizar regressão logística nos dados de treinamento para predizer mpg01 usando as variáveis que pareciam 
mais associadas mpg01 em:
(b). Qual é o erro de teste do modelo obtido?

In [ ]:
install.packages("ISLR")
library(ISLR)

In [2]:
head(Auto)

  mpg cylinders displacement horsepower weight acceleration year origin
1 18  8         307          130        3504   12.0         70   1
2 15  8         350          165        3693   11.5         70   1
3 18  8         318          150        3436   11.0         70   1
4 16  8         304          150        3433   12.0         70   1
5 17  8         302          140        3449   10.5         70   1
6 15  8         429          198        4341   10.0         70   1
  name
1 chevrolet chevelle malibu
2 buick skylark 320
3 plymouth satellite
4 amc rebel sst
5 ford torino
6 ford galaxie 500